#【 vhost/www.conf 】 v1.0.0
# @Author    : heiyeluren
# @Created   : 2017/2/6
# @Lastmodify: 2017/2/10


#
# 生成www服务示例配置 （支持HTTP和SSL）
#
# 说明：SSL的证书存放在 /home/work/nginx/conf/ssl_key 目录下


    server {
    
        listen 80;
        #listen 443;
        server_name heiyeluren.com www.heiyeluren.com;

        # 目录配置
        index  index.html index.htm index.php;
        access_log  /home/work/nginx/logs/www.heiyeluren.com.access.log  main;
        error_log   /home/work/nginx/logs/www.heiyeluren.com.errror.log  error;
        root   /home/work/www;
        
        # SSL配置
        #ssl on;
        #ssl_certificate   /home/work/nginx/conf/ssl_key/www.heiyeluren.com.pem;
        #ssl_certificate_key  /home/work/nginx/conf/ssl_key/www.heiyeluren.com.key;
        #ssl_session_timeout 5m;
        #ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        #ssl_ciphers AESGCM:ALL:!DH:!EXPORT:!RC4:+HIGH:!MEDIUM:!LOW:!aNULL:!eNULL;
        #ssl_prefer_server_ciphers on;

        # 禁止爬虫配置
        if ($http_user_agent ~* (Scrapy|Curl|HttpClient)) {
            rewrite ^(.*)$ /index.php?v=listing&cid=360 break;
            return 403;
        }
        if ( $http_user_agent ~ "FeedDemon|Indy Library|Alexa Toolbar|AskTbFXTV|AhrefsBot|CrawlDaddy|CoolpadWebkit|Java|Feedly|UniversalFeedParser|ApacheBench|Microsoft URL Control|Swiftbot|ZmEu|oBot|jaunty|Python-urllib|lightDeckReports Bot|DigExt|HttpClient|MJ12bot|heritrix|Ezooms|ia_archiver" ) {
            rewrite ^(.*)$ /index.php?is_guest=1 break;
            return 403;
        }
        # 也可以使用包含文件的方式包含爬虫操作配置
        # include /home/work/nginx/conf/agent_deny.conf;

        # 核心Location配置
        location ~* /caches/ { 
            return 444; 
        }
        location ~* /(uploadfile)/.*.(php|php5|pl|py|sh|cgi)$ {
            return 404;
            error_page 404 /404.html;
        }
        location /resources/ {
            if ($request_uri ~* "\.(gif|jpe?g|png)" ) {
                expires 72h;
            }
            #alias  /home/work/www;
        }

        # PHP脚本访问
        location ~ [^/]\.php(/|$) {
            #fastcgi_pass   unix:/tmp/php-www.sock;
            fastcgi_pass   127.0.0.1:9000;
            fastcgi_index  index.php;
            include        fastcgi_params;
            fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
            fastcgi_param  PATH_INFO  $fastcgi_path_info;
        }

        # 针对首页PHP访问特殊处理
        location ~ /index.php {
            #fastcgi_pass   unix:/tmp/php-www.sock;
            fastcgi_pass   127.0.0.1:9000;
            fastcgi_index  index.php;
            include        fastcgi_params;
            fastcgi_param  SCRIPT_FILENAME  $document_root/index.php;
            fastcgi_param  PATH_INFO  $fastcgi_path_info;
        }

        # 静态资源和URL Rewrite
        location / {
        if ($request_uri ~* "\.(js|css|ico|gif|jpe?g|png|bmp|swf)" ) { 
                expires 72h; 
            }
        if ($request_uri ~* "\.(m3u8|mp3|mp4|avi|wma)" ) { 
                expires -1; 
            }
            
            # URL Rewrite Rule example
            #rewrite ^/open_query/k-(.+)/t-(.+)\.html$ /index.php?f=open_query&keywords=$1&tab=$2 last;
            #rewrite ^/open_query/k-(.+)\.html$ /index.php?f=open_query&keywords=$1 last;
            #rewrite ^/video/(\d+)\.html$ /index.php?v=play&id=$1 last;
            #rewrite ^/m/(artilce|rank|recommend|search)(/?|/index|/index.html|.html)$ /m/index.php?m=$1 last;
            #rewrite ^/m/(team|user|music|video|special)/([0-9]+)(/?|/index|/index.html|.html)$ /m/index.php?m=$1&id=$2 last;
            #rewrite ^/m/(/?|index|index.html|.html)$ /m/index.php last;
            #rewrite ^(.*)show-([0-9]+)-([0-9]+)-([0-9]+)\.html$ $1/index.php?v=show&cid=$2&id=$3&page=$4 last;
            #rewrite ^(.*)item-([0-9]+)-([0-9]+)-([0-9]+)\.html$ $1/index.php?v=show&cid=$2&id=$3&page=$4 last;
            #rewrite ^(.*)list-([0-9]+)-([0-9]+)\.html$ $1/index.php?v=listing&cid=$2&page=$3 last;
            #rewrite ^(.*)team/([0-9]+)/(.*)(/?|/index|/index.html|.html)$ $1/index.php?f=team&tid=$2&t=$3 last;
            #rewrite ^(.*)team/([0-9]+)(/?|/index|/index.html|.html)$ $1/index.php?f=team&tid=$2&t=video last;
            #rewrite ^(.*)video/([0-9]+)(/?|/index|/index.html|.html)$ $1/index.php?v=show&cid=4&id=$2 last;
            #rewrite ^(.*)special/p([0-9]+)(/?|/index|/index.html|.html)$ $1/index.php?v=listing&cid=120&page=$2 last;
            #rewrite ^(.*)special/([0-9]+)(/?|/index|/index.html|.html)$ $1/index.php?v=show&cid=120&id=$2 last;
            #rewrite ^(.*)special(/?|/index|/index.html|.html)$ $1/index.php?v=listing&cid=120 last;
            #rewrite ^(.*)news/p([0-9]+)(/?|/index|/index.html|.html)$ $1/index.php?v=listing&cid=106&page=$2 last;
            #rewrite ^(.*)news(/?|/index|/index.html|.html)$ $1/index.php?v=listing&cid=106 last;
            #rewrite ^(.*)v([0-9]+)/([0-9]+)p([0-9]+)(/?|/index|/index.html|.html)$ $1/index.php?v=show&cid=$2&id=$3&page=$4 last;
            #rewrite ^(.*)v([0-9]+)/([0-9]+)(/?|/index|/index.html|.html)$ $1/index.php?v=show&cid=$2&id=$3 last;                
            #rewrite ^(.*)m([0-9]+)p([0-9]+)(/?|/index|/index.html|.html)$ $1/index.php?v=listing&cid=$2&page=$3 last;
            #rewrite ^(.*)m([0-9]+)(/?|/index|/index.html|.html)$ $1/index.php?v=listing&cid=$2 last;
        }
        error_page 500 502 503 504 /404.html;
        error_page 404 /404.html;
    }
